body {
  font-family: "verdana", "sans-serif";
  text-align: center;
}

h1, h4 {
  margin: 5px;
}

.reset-button-container {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.reset-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  height: 30px;
  width: 90px;
  color: grey;
  background-color: white;
  border: solid grey;
  border-width: 1.5px
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.square {
  height: 100px;
  width: 100px;
  border: solid black;
  border-width: 2.5px;
  font-size: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square:hover {
  border-color: green;
}

.game-info {
  font-size: 16px;
}

.game-outcome {

}

.reset-button:hover {
  border-color: black;
  color: black;
  cursor: pointer;
}