.board {
  display: flex;
  flex-direction: row;
  justify-content: center;

  padding: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: darkblue;
  padding: 0px;
}

.column:hover {
  background-color: blue;
  cursor: pointer;
}

.circle {
  font-size: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: solid darkred;
  border-radius: 100%;
  border-width: 20px;
  margin: 5px; 5px;
}
