/* SelectPins */
.select-pins {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 360px;
  width: 240px;

}

.pins {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pin-col {
  display: flex;
  flex-direction: row;
}

.pin {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 75px;
  margin: 0px 10px;

  background-image: url("pin.png");
  background-size: cover;
}

.pin:hover {
  width: 50px;
  height: 85px;
  cursor: pointer;
  border-radius: 25px;
}

.pin-selected {
  border: solid darkcyan;
}

.button-container {
  margin: 7px;
}

.button {
  width: 120px;
  height: 40px;
  border: solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover{
  color: darkcyan;
  border-color: darkcyan;
  cursor: pointer;
}
