.app-container {
  font-family: 'verdana', 'sans-serif';
  font-size: 16px;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px
}

h1, h2, h3, h4 {
  margin: 10px;
}
.selectors {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.or {
  font-size: 25px;
  font-weight: bold;
  padding: 0px 30px;
}

.game-status {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 20px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: darkgrey;
  padding: 7px;
}
